Package: com.chen.tx
Name: WCHideChatAvatars
Version: 1.1-1
Architecture: iphoneos-arm
Depends: mobilesubstrate, firmware (>= 14.0)
Description: 隐藏微信聊天头像
Author: chen
Maintainer: chen
Section: chen-Tweaks
